<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Truscholar Certificate</title>

    <style>
        body {
            background-image: url('https://truscholar-assets-public.s3.ap-south-1.amazonaws.com/email/certificate_template_1/certificate_bg_2.png');
            background-repeat: no-repeat;
            display: block;
            background-position-x: center;
            width: 29.7cm;
            height: 21cm;
            margin-left: auto;
            margin-right: auto;
            
        }
        .container{
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin:12em auto 0 auto;
         
        }
        .c-title {
            font-size:3.7vw;
            font-weight:bold;
            color:#e45f53;

        }
        .c-smtitle{
            font-size:1.6vw;
            color: #154854;
            width: 80%;

        }
    </style>

<link href="https://fonts.googleapis.com/css?family=Merienda&display=swap" rel="stylesheet">
</head>

<body>

    <div class="container"> 
        <div class="c-position">
            <div>
                <h1 class="c-title">Certificate of Achievement</h1>
            </div>
            <span class="c-smtitle" >This is to certify that</span>
            <br>
            <div>
                <h1 class="c-title">{{StudentName}}</h1>
            </div>
            <br>
            <span class="c-smtitle" >Has successfully completed this course <b>{{CourseName}}</b> and <br> has passed with <b>{{TotalMarks}}</b> marks. The academic performance for <br> the student has been good in the course.</span>    
        </div>
    </div>  
</body>
</html>